/* define the grid layout and assign elements to the grid */

.container { /* style everything with class="container" */
display: grid; /* tell the browser we want to use the grid layout for this element */

/* define the fractional units for each column in the web page - figure out how many columns we want */
/* 3 column grid where the first and last column are the same size and the middle is 3 times the size of the 1st and 3rd */

grid-template-columns: 1fr 3fr 1fr;
grid-template-areas:  /* assign names to the columns in each row of the grid - each line is a row in the grid */ 
    "header header header" /* all the columns in the first row will hold 1 type of data*/
    "menu-nav main upcoming-events" /* 2nd row will have different things in each column*/
    "footer footer footer"; /* all the columns in the 3rd row will have the same content */
 gap: 10px;
} /* don't forget to close the selector for the grid */

 /* assign the HTML elements to the grid columns */

header {
     grid-area: header; /* assign it to the header parts of the grid */
 }

nav#menu-nav { /* style the nav with id="menu-nav" */
    grid-area: menu-nav; /* assign it to the menu-nav parts of the grid */
}

main { /* style everything in the main element */
    grid-area: main; /* assign it to the main parts of the grid */
}

aside { /* style everything in the aside element*/
    grid-area: upcoming-events; /* assign it to the upcoming-events part of the grid */
}

footer { /* style everything in the footer element */
    grid-area: footer; /* */
}


