/* fan-page */

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: auto;
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    background-color: black;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

p {
    font-style: italic;
    font-size: large;
}

h3 {
    text-decoration: underline;
}